

body{
	background-image: url("../images/background.jpg");
}

#top{
	width: 100%;
	height: 50px;
	background-color: black;
}

.main{
	width: 100%;
	height: 800px;
	margin-top: 10px;
}

.main #left{
	width: 30%;
	height: 100%;
	float:left;
	margin-right: 5px;
}

.main #right{
	width: 69%;
	height: 100%;
	float: left;
	background-color: white;
	margin-left: 5px;
	border-radius: 7px;
	cursor: url("../images/cursor.png"),auto;
}

#rule{
	width: 100%;
	height: 30%;
	border: 3px solid #DADADA;
	border-radius: 7px;
	margin-top: 10px;
}

#tool{
	width: 100%;
	height: 20%;
	border: 3px solid #DADADA;
	border-radius: 7px;
	margin-top: 10px;
}

#color{
	width: 100%;
	height: 48%;
	border: 3px solid #DADADA;
	border-radius: 7px;
	margin-top: 10px;
	padding-bottom: 10px;
}

.button{
	width: 60px;
	height: 30px;
	margin: 13px;
	border-radius: 7px;
}

#button_image{
	width: 300px;
	height: 100px;
	margin: 13px;
	border-radius: 7px;
}

.textMess{
	color: white;
	display: block;
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 10px;
}

#rule #line{
	word-wrap: break-word;
	margin: 10px;
	display: block;
}

#play{
	width: 100px;
	height: 30px;
}

.toolButton{
	width: 70px;
	height: 70px;
	margin: 50px 20px 20px 20px;
	border-radius: 7px;
}

#tool_Pen{
	background-image: url("../images/Paint.png");
}

#tool_Paint{
	background-image: url("../images/Pen.png");
}

#tool_Eraser{
	background-image: url("../images/Eraser.png");
}


